            body {
                margin: 0;
                width: 100vw;
                height: 100vh;
                overflow: hidden;
            }
            
            #back {
                margin-left: 25%;
            }
            
            #runAwayButton {
                position: absolute;
                white-space: nowrap;
                background-color: #ffffff;
                border: none;
                height: 30vh;
            }